/* Estilos para dispositivos menores */
.corpo {
    background-color: cadetblue;
}

.cabecalho {
    background-color: rgb(40, 109, 87);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.titulo {
    color: rgb(7, 60, 73);
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.lista {
    list-style: none;
    padding: 0;
}

.paginas {
    display: inline;
    margin: 0 10px;
}

.item {
    color: #7ddccb;
    font-size: 25px;
    text-decoration: none;
}

.titulo2 {
    color: rgb(7, 60, 73);
    font-size: 35px;
    border: dashed rgb(40, 109, 87);
}

.paragrafo {
    font-size: 28px;
}

.imagem {
    padding: 0 10px;
    width: 60%;
}

.subtitulo {
    color: rgb(11, 90, 110);
    font-size: 32px;
}

.item-lista {
    list-style-type: decimal;
    font-size: 28px;
    color: rgb(11, 90, 110);
}

.item-texto {
    color: black;
    list-style-type: circle white;
    font-size: 24px;
}

/* Estilos para dispositivos maiores (exemplo de media query) */
@media screen and (min-width: 425px) {
    .corpo {
        background-color: cadetblue;
    }

    .titulo {
        color: rgb(7, 60, 73);
        font-size: 50px;
    }

    .titulo2 {
        color: white; /* Corrigido para .titulo2 */
    }

    .paginas {
        color: rgb(209, 214, 209);
        font-size: 15px;
    }
}